$responsive-mobile: 767px;
$break-desktop: 1366px;
$break-tablet: 1200px;
$large-device : 1500px;

$primary-color: #2D83EA;
$secondary-color: #00FFE2;
$ternary-color: #0d0053;
$grey-color-1: #f3f1fe;
$light-grey-color: #aaaaaa;
$form-control-text-color: #acacac;
$light-grey-color-1: #b1b1b1;
$lightblue-bg-color: #E5EDF5;
$link-color: #2D83EA;
$border-color:#E2E2E2;
$content-color:#969696;
$dark-content-color:#454545;
$icon-color:#a38f8f;
$light-blue:#E2ECF5;
$white:#ffffff;
$alert:#FC3A3A;
$info:#FFCE00;
$success:#32C995;
$dove-gray-color: #707070;
$checkbox-border: #a2a2a2;
$checkbox-checked: #2d83ea;
$white-color : #fff;
$online-bg-dot : #00d673;
$offline-bg-dot : #c6c6c6;

// New theme colors & background colors
$coral-color: #F75C57;
$gallery-bg-color: #EBEBEB;
$tangerine-color: #FB9774;
$scorpion-color: #5D5D5D;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/icomoon" !default;

$base-font: 'Roboto', sans-serif; 
$bold-font:700;

// Proxoma nova fonts
$proxima-light: 'ProximaNovaA-Light';
$proxima-bold : 'ProximaNova-Bold';
$proxima-regular: 'ProximaNova-Regular';
$proxima-medium: 'Proximanovamedium';
$proxima-semibold: 'ProximaNovaSemibold';

$icon-sami-email: "\e900";
$icon-sami-bell: "\e901";
$icon-sami-chart: "\e902";
$icon-sami-comment: "\e903";
$icon-sami-down-arrow: "\e904";
$icon-sami-eye: "\e905";
$icon-sami-first-aid-kit: "\e906";
$icon-sami-home: "\e907";
$icon-sami-information: "\e908";
$icon-sami-left-arrow: "\e909";
$icon-sami-list: "\e90a";
$icon-sami-lock: "\e90b";
$icon-sami-right-arrow: "\e90c";
$icon-sami-search: "\e90d";
$icon-sami-star: "\e90e";
$icon-sami-calendar: "\e90f";
$icon-sami-logout: "\e910";
$icon-sami-phone: "\e911";
$icon-sami-settings: "\e912";
$icon-sami-bubble: "\e913";
$icon-sami-send: "\e914";
$icon-sami-attach: "\e915";
$icon-sami-credit-card: "\e916";
$icon-sami-document: "\e917";
$icon-sami-injection: "\e918";
$icon-sami-note-list: "\e919";
$icon-sami-user: "\e91a";
$icon-sami-medical-bag: "\e91b";
$icon-sami-stethoscope: "\e91c";
$icon-sami-video: "\e91d";
$icon-sami-edit-icon: "\e91e";
$icon-sami-medicine: "\e91f";
$icon-sami-clock: "\e920";
$icon-sami-cancel: "\e921";
$icon-sami-expand: "\e922";
$icon-sami-graduate: "\e923";
$icon-sami-microphone: "\e924";
$icon-sami-smile: "\e925";
$icon-sami-support: "\e926";
$icon-sami-wrench: "\e927";
$icon-sami-right-large-arrow: "\e928";
$icon-sami-error: "\e929";
$icon-sami-mic-off: "\e92a";
$icon-sami-video-off: "\e92b";
$icon-sami-shrink: "\e92c";
$icon-sami-tick: "\e92d";
$icon-sami-filled-mail: "\e92e";
$icon-sami-filled-eye: "\e933";
$icon-sami-gps-icon: "\e931";
$icon-sami-substract-circle: "\e930";
$icon-sami-add-circle: "\e92f";
$icon-sami-border-phone: "\e932";
$icon-sami-filled-clock: "\e934";
$icon-sami-responsive-expand: "\e936";
$icon-sami-up-arrow: "\e937";
$icon-sami-escalate-icon: "\e935";
$icon-sami-photo-icon: "\e938";
$icon-sami-docs-icon: "\e939";
$icon-sami-download-icon: "\e93a";
$icon-sami-download-down-arrow: "\e93b";
$icon-sami-filled-comment: "\e93c";
$icon-sami-virtual-card: "\e93d";
